.menu-bar{
  @include site-gradient();
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 101;
  float: left;
  min-height: 1px;
  ul{
    float: left;
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    float: left;
    display: block;
    padding-right: 15px;
    height: 65px;
    .container-selected{
        text-decoration: none;
        background-color: darken($site-color-dark, 10%);
    }
    .container{
      cursor: pointer;
      display: block;
      overflow: hidden;
      background-color: $site-color-dark;
      text-decoration: none;
      span{
        background-image: url("/images/menu/IconosMenu_small.png");      
        background-repeat: no-repeat;
        background-size: 50px auto;
        display: inline-block;
        height: 65px;
        vertical-align: middle;
        width: 55px;      
      }   
      .tooltip{
        display: none;
        color: darken(white, 10%);
        font-size: 12px;
        font-weight: normal;
      }
      .create-buttons{
        display: none;
      }      
      .create-button-event{
        display: none;
      }      
    }
    .container:hover{
        text-decoration: none;
        background-color: darken($site-color-dark, 10%);
      .tooltip{
        position: absolute;
        background: lighten(black, 35%);       
        height: 15px;
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-top: 10px;
        display: block;
        text-align: center;
      } 
      .tooltip-grande{
        width: 80px;
      }
      .create-buttons{
        position: absolute;
        background: darken($site-color-dark, 10%);
        height: 165px;
        width: 220px;
        padding: 5px;
        display: block;
        text-align: center;
        color: white;
        font-size: large;
        .create-buttons-text{
          text-align: left;
          padding-left: 15px;
        }
      }      
    }
    a.menu-logo-link{
      background-color: transparent;
      cursor: pointer;
      display: block;
      overflow: hidden;      
    } 
    
  }
  .menu-logo{
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/images/menu/MenuLogo_small.png");
    background-origin: padding-box;
    background-position: 25px 8px;
    background-repeat: no-repeat;
    background-size: 95px auto;
    height: 65px;
    width: 126px;
  }  
  .menu-home{
    background-position: 0px 7px;
  }
  .menu-home-text{
    color: white;
    margin-top: -17px;
    margin-left: 14px;
    font-size: 11px;
  }  
  .menu-messages{
    background-position: 0px -62px;
  }
  .menu-messages-text{
    color: white;
    margin-top: -17px;
    margin-left: 5px;
    font-size: 11px;
  }    
  .menu-invitations{
    background-position: 0px -130px;
    margin-left: 4px;    
  }  
  .menu-invitations-text{
    color: white;
    margin-top: -17px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }  
  .menu-help{
    background-position: 0px -190px;
  }  
  .menu-help-text{
    color: white;
    margin-top: -17px;
    margin-left: 12px;
    font-size: 11px;
  }  
  .menu-register-fundations{
    background-position: 0px -430px;
  }  
  .menu-register-fundations-text{
    color: white;
    margin-top: -17px;
    margin-left: 4px;
    font-size: 11px;
  }  
  .menu-register-providers{
    background-position: 0px -248px;
    margin-left: 8px;
  }  
  .menu-register-providers-text{
    color: white;
    margin-top: -17px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }    
  .menu-register-events{
    background-position: 0px -318px;
  }  
  .menu-register-events-text{
    color: white;
    margin-top: -17px;
    margin-left: 8px;
    font-size: 11px;
  }  
  .menu-search{
    background-position: 2px -373px;
  }    
  .menu-search-text{
    color: white;
    margin-top: -17px;
    margin-left: 12px;
    font-size: 11px;
  }  
}

.menu-logo-triangle{
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid lighten(black, 35%);
  height: 0px;
  width: 0px;
  margin-top: -10px;
  margin-left: 17px;
}


.my-account-links{
  direction: rtl;
  padding-right: 10px;
  padding-left: 10px;
    .show-edit-options{
      cursor: pointer;
      .edit-my-account-options{
        display: none;
        color: darken(white, 10%);
        font-size: 12px;
        font-weight: normal;
      }        
    }
    .show-edit-options:hover{
        cursor: pointer;
      .edit-my-account-options{
        cursor: auto;
        background: $site-color-dark;
        display: block;
        position: absolute;
        width: 110px;
        padding: 5px;
        text-align: center;
        margin-top: 56px;
        margin-left: 10px;
        .edit-me-menu{
          color: white;
          padding: 5px;
          text-decoration: none;
        }
        .edit-me-menu:hover{
          text-decoration: underline;
        }
      }   
    }
  .mini-img-profile{
    width: 45px;
    height: 45px;
    display: block;
    padding: 7px;
    float: right;
  }  
  .member-info{
    color: white;
    float: right;
    font-size: small;
    text-align: right;
    padding-top: 24px;
    a{
      color: white;
      font-size: small;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

