.menu-bar{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 101;
  float: left;
  min-height: 1px;
  border-bottom: 1px solid $site-color;
  .menu-inner-bar{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) and (max-width: 979px) {
        width: 768px;
      }    
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    float: left;
    display: block;
    padding-left: 2px;
    height: 60px;
    .container-selected{
        text-decoration: none;
        background-color: white;
        height: 60px;
    }
    .cont {
      cursor: pointer;
      display: block;
      overflow: hidden;
      background-color: rgb(242, 242, 242);
      text-decoration: none;
      height: 50px;
      margin-top: 5px;
      border-right: 1px solid white;
      border-left: 1px solid white;
      border-top: 1px solid white;
      span{
        background-image: url("/images/menu/IconosMenu_small_green_gray.png");      
        background-repeat: no-repeat;
        background-size: 550px auto;
        display: inline-block;
        height: 60px;
        vertical-align: middle;
        width: 55px;      
      }   
      .tooltip{
        display: none;
        color: darken(white, 10%);
        font-size: 12px;
        font-weight: normal;
      }
      .create-buttons{
        display: none;
      }      
      .create-button-event{
        display: none;
      }      
    }
    .container-box:hover{
        border-right: 1px solid rgb(152, 152, 152);
        border-left: 1px solid rgb(152, 152, 152);
        border-top: 1px solid rgb(152, 152, 152);            
    }
    .cont:hover{
        text-decoration: none;
        background-color: white;
      .tooltip{
        position: absolute;
        background: lighten(gray, 15%);       
        height: 15px;
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-top: 10px;
        display: block;
        text-align: center;
      } 
      .tooltip-grande{
        width: 80px;
      }
      .create-buttons{
        position: absolute;
        background: white;
        border-right: 1px solid rgb(152, 152, 152);
        border-left: 1px solid rgb(152, 152, 152);
        border-bottom: 1px solid rgb(152, 152, 152);                
        height: 165px;
        width: 220px;
        padding: 5px;
        margin-top: -8px;
        margin-left: -1px;
        display: block;
        text-align: center;
        color: rgb(152, 152, 152);
        font-size: medium;
        z-index: 102;
        .create-buttons-text{
          text-align: left;
          padding-left: 15px;
          padding-top: 5px;
        }
      }      
    }
    a.menu-logo-link{
      background-color: transparent;
      cursor: pointer;
      display: block;
      overflow: hidden;    
      margin-right: 5px;  
    } 
    
  }
  .menu-logo{
    width: 110px;
    margin-top: 3px;
  }  
  .menu-home{
    background-position: 10px -40px;
  }
  .menu-home-selected{
    background-position: 10px 6px;
  }
  .menu-home-txt{
    margin-top: -25px;
    margin-left: 14px;
    font-size: 11px;
    padding-bottom: 3px;  
  }
  .menu-home-text-selected{
    color: $site-color;
  }  
  .menu-home-text{
    color: rgb(152,152,152);
  }  
  .menu-messages{
    background-position: -56px -40px;
  }
  .menu-messages-selected{
    background-position: -56px 6px;
  }  
  .menu-messages-txt{
    margin-top: -25px;
    margin-left: 5px;
    font-size: 11px;
    padding-bottom: 3px;
  }    
  .menu-messages-text{
    color: rgb(152,152,152);  
  }
  .menu-messages-text-selected{
    color: $site-color;
  }  
  .menu-invitations{
    background-position: -124px -40px;
    margin-left: 4px;    
  }  
  .menu-invitations-selected{
    background-position: -124px 6px;
    margin-left: 4px;    
  }    
  .menu-invitations-txt{
    margin-top: -25px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;    
  }  
  .menu-invitations-text{
    color: rgb(152,152,152);
  }  
  .menu-invitations-text-selected{
    color: $site-color;
  }    
  .menu-help{
    background-position: -191px -42px;
  }
  .menu-help-selected{
    background-position: -191px 6px;
  }  
  .menu-help-txt{
    margin-top: -25px;
    margin-left: 12px;
    font-size: 11px;
    padding-bottom: 3px;    
  }
  .menu-help-text{
    color: rgb(152,152,152);
  }
  .menu-help-text-selected{
    color: $site-color;
  }    
  .menu-register-fundations{
    background-position: -331px -40px;
  }
  .menu-register-fundations-selected{
    background-position: -331px 6px;
  }  
  .menu-register-fundations-txt{
    margin-top: -25px;
    margin-left: 4px;
    font-size: 11px;
    padding-bottom: 3px;    
  }  
  .menu-register-fundations-text{
    color: rgb(152,152,152);
  }  
  .menu-register-fundations-text-selected{
    color: $site-color;
  }
  .menu-register-providers{
    background-position: -269px -40px;
    margin-left: 8px;
  }
  .menu-register-providers-selected{
    background-position: -269px 6px;
    margin-left: 8px;
  }  
  .menu-register-providers-txt{
    margin-top: -25px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;    
  }    
  .menu-register-providers-text{
    color: rgb(152,152,152);
  }  
  .menu-register-providers-text-selected{
    color: $site-color;
  }  
  .menu-register-events{
    background-position: -388px -40px;
  }
  .menu-register-events-selected{
    background-position: -388px 6px;
  }  
  .menu-register-events-txt{
    margin-top: -25px;
    margin-left: 8px;
    font-size: 11px;
    padding-bottom: 3px;    
  }  
  .menu-register-events-text{
    color: rgb(152,152,152);
  } 
  .menu-register-events-text-selected{
    color: $site-color;
  }    
  .menu-search{
    background-position: 2px -373px;
  }    
  .menu-search-text{
    color: rgb(152,152,152);
    margin-top: -25px;
    margin-left: 12px;
    font-size: 11px;
  }  
}

.menu-logo-triangle{
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid lighten(gray, 15%);
  height: 0px;
  width: 0px;
  margin-top: -10px;
  margin-left: 17px;
}


.my-account-links{
    .show-edit-options{
      cursor: pointer;
      float: left;
      .edit-my-account-options{
        display: none;
        color: darken(white, 10%);
        font-size: 12px;
        font-weight: normal;
      }        
    }
    .show-edit-options:hover{
        cursor: pointer;
      .edit-my-account-options{
        cursor: auto;
        background: $site-color;
        display: block;
        position: absolute;
        width: 110px;
        padding: 5px;
        text-align: center;
        margin-top: -0px;
        margin-left: -75px;
        .edit-me-menu{
          color: white;
          padding: 5px;
          text-decoration: none;
        }
        .edit-me-menu:hover{
          text-decoration: underline;
        }
      }   
    }
  .mini-img-profile{
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 7px;
    margin-top: 12px;    
    border: 1px solid $site-color;
  }  
  .member-info{
    color: $site-color;
    float: left;
    font-size: 12px;
    height: 30px;
    margin-left: 5px;
    max-width: 60px;
    overflow: hidden;
    padding-top: 24px;
    text-align: right;    
    a{
      color: white;
      font-size: small;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

