!!!
%html
  %body
    %a{:href=>"www.conectandosonrisas.org"}
      %img{:src => "www.conectandosonrisas.org/images/conectando_sonrisas.png",:height=>"125px"}
    .one-item{:style=>"padding: 10px 10px 10px; font-size: medium; border-width: 0 0 1px; border-style: dotted; color: rgb(90,180,70);"}
      = link_to image_tag(member_thumb(@member_from.facilitator)), facilitator_url(@member_from.facilitator), :title=>"Click para ver el Facilitador"
      %span{:style=>"position: absolute; margin-top: 8px; margin-left: 10px;"}
        .one-item-name
          #{@message}
        #{link_to I18n.t('go_to_profile'), facilitator_url(@member_to.facilitator), :title=>"Ver Perfil", :style=>"color: rgb(90, 180,70); font-size: 18px; font-weight: bold;"}
    .profile{:style=>"backgroud-color:rgb(90,180,70);"}
      %a{:href="http://www.conectandosonrisas.org"}
        %img{:src=>"http://www.conectandosonrisas.org/images/SacarRisas.png"}
