%table{:width=>"100%"}
  %tr 
    %td{:style=>"text-align:center; width:55px; border-width: 0 0 1px; border-style: dotted; border-color: rgb(90, 180, 70);"}
      = simple_format(auto_link(@message))
