- if current_member.try(:admin?)
  .csv_lists
    %p User email lists
    %a{:href=>"/admin/members_to_csv"}
      All Members to csv
    %br
    %a{:href=>"/admin/fundation_admins_to_csv"}
      All Social Project admins to csv  
    %br
    %a{:href=>"/admin/fundations_to_csv"}
      All Social Projects to csv            
    %br
    %a{:href=>"/admin/events_to_csv"}
      Events to csv      
  - if current_member.email == 'carloshlopez@gmail.com'    
    .admin-jobs
      %p Admin Delayed Jobs  
      %a{:href=>"/admin/dj_all"}
        All Delayed Jobs      
    .admin-table-list
      %p Admin DB tables (rails models)
      %ul
        - @models.each do |model|
          %li
            %a{:href=>"##{model[0]}", :title=> "Click to see table data"} #{model[0]}
      %br
      %a{:id=>"CreateNewRowLink", :href=>"#New_Row", :title=> "Crete new row", :style=>"display:none"} Create new row
      #newRow{:style=>"display:none"}
      %input#addRow{:type=>"button", :title=>"add a row", :value=>"Add", :style=>"display:none"}

  #forGrid{:class=>"yui-skin-sam"}
    #gridYui
  %a{:id=>"deleteRow", :href=>"#Delete_Row", :title=> "Delete row", :style=>"display:none"} Delete row by id     
  %input#deleteRowId{:type=>"text", :title=>"delete a row id", :style=>"display:none"}    
- else
  %p YOU HAVE TO BE AN ADMIN TO VIEW THIS


