<h2>Number of workers runningn in heroku </h2>
<p>
<%
@web = 0
@worker = 0
@num_workers.body.each do |proc| 
  @web = @web + 1 if proc['process'].starts_with("web")
  @worker = @worker + 1 if proc['process'].starts_with("worker")
end%>
Web Dynos:
<%= @web %>
<br/>
Worker Dynos:
<%= @worker %>
</p>
<%= form_tag('/admin/set_workers') do |f|%>
  <b>Set # of workers</b>
  # of workers:
  <input name="count" maxlength="2" size="3"/>
  <input name="commit" type="submit" value="Update Workers"/>
<% end %>
