.edit-settings-background-fundation{
  position: absolute;
  background-color: $fundations-color;
  width: 100%;
  height: 100%;  
  z-index: -4;
  left: 0;
  margin-top: 25px;
  
}
#tabs-fundation {
	padding: 0px;
	background: none;
	border-width: 0px;
	width: $footer-width + 40;
}
#tabs-fundation .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-fundation .ui-tabs-panel {
	background-color: white;
	border: 0px;
}

#tabs-fundation .ui-state-default {
  border: 0px;
}

#tabs-fundation .ui-state-active {
  border: 0px;
}

#tabs-fundation .ui-state-default a {
	color: white;
	background-color: $fundations-color;
	border-radius: 5px 5px 0 0;
}
#tabs-fundation .ui-state-active a {
	color: $fundations-color-dark;
  @include tabs-gradient();
  border-radius: 5px 5px 0 0;
}


.editSettingsFundation{
  font-size: small;
  .link_to_profile{
    position: absolute;
    background-color: lighten($fundations-color, 10%);
    border: 2px solid darken($fundations-color-dark, 10%);
    color: white;
    margin-left: 455px;
    margin-top: -25px;
    width: 275px;
    height: 30px;
    border-radius: 15px;
    line-height: 2;
    text-align: center;  
    text-decoration: none;
  }
  .link_to_profile:hover{
    background-color: $fundations-color;
    color: white;
    text-decoration: none;    
  }  
  .profile-content{
    width: 100%;
    text-align: center;
    p.profile-content-title{
      color: $fundations-color-dark;
    }
    .profile-content-child{
      width: 280px;
      margin: 0px auto;
      text-align: left;
    }
  }
  input[type="text"]{
    border: 1px solid $fundations-color-dark;
    width: 250px;
  }
  
  
  input[type="submit"]{
    border-radius: 15px;
    color: white;
    background-color: $fundations-color-dark;
    padding: 5px;
    width: 265px;
    cursor: pointer;
  }  
  textarea{
    width: 250px;
    border: 1px solid $fundations-color-dark;
    height: 150px;
  } 
    
  .my-account-info{
    float: left;
    margin-right: 70px;
    min-height: 300px;
  }
  
  .notifications{
    padding-top: 5px;
  }
   
  .account-title{
    color: $fundations-color;
  }
  
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    color: darken($fundations-color, 30%);
  }  
  .fundation-shows{
    float: left;
    margin-right: 50px;
    p.profile-content-title{
      color: $fundations-color-dark;
    }
  }
  .fundation-settings-left{
    float: left;
    min-height: 350px;
    margin-right: 50px;
  }
  .fundation-settings-right{
  }
  .fundation-settings-center{
    width: 100%;
    text-align: center;
    .fundation-settings-center-child{
      width: 280px;
      margin: 0px auto;
      text-align: left;
    }
  }
 p.profile-content-title{
      color: $fundations-color-dark;
 } 
}
