
#left_div{
  @include site-gradient();
  color: $main-background;
  clear: left;
  ul{
   color: $home-link-yellow;
   list-style-type: square;
   margin-left: -25px;
  }  
}

.left_div_content
{
  padding: 20px;
  padding-top: 1px;
  .image{
    direction:rtl;
  }
  input {
    width: 250px;
  }
  input[type="submit"] {
    cursor: pointer;
    background-color: lighten($site-color, 30%);
    width: 255px;
    height: 35px;
    border-radius: 15px;
    border:3px solid $home-link-yellow;
    font-weight:bold;
    font-size: large;
  }
  input[type="submit"]:hover {
    background-color: darken($site-color, 5%);
    color: white;
  }  
  input:hover {
    background-color: #AAAFFF;
  }  
  .supported_services{
    text-align: center;
    a.auth_provider_link{
     text-decoration: none;
     font-weight: normal;     
     }
    a.auth_provider_link:hover{
     color: blue;
     text-decoration: none;
     font-weight: normal;
    }
  }
  a{
   color: $home-link-yellow;
   text-decoration: none;
  }
  a:hover{
   color: darken($home-link-yellow, 6%);
   text-decoration: underline;
  }   
}

.arrows{
	margin-left: 352px;
	height: 15px;
	position: absolute;
	z-index: 10;
}

.news-arrow{
  margin-left: 350px;
}

#descs{
	height:215px;
	color:$main-background;
  position:absolute;
  top:0;
  left: 0;
  padding: 30px;
	z-index: 1;
}
.desc-text
{
  margin-left: 110px;
  margin-top: 25px;
}

#pics{  
	height:215px;
	z-index: -2;
}

#event_pics{
  height: 215px;
  overflow: hidden;
}

/* You can alter this CSS in order to give SmoothDivScroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 75 pixels 
	   and if there is room the will grow and occupy 10% 
	   of the scrollable area (20% combined). 
	   Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to 
	solve some problems I experienced in Internet Explorer 6. */
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first cursor url is for Firefox and other 
	    browsers, the second is for Internet Explorer */
	cursor: url(../images/cursors/cursor_arrow_left.cur), url(../images/cursors/cursor_arrow_left.cur),w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(../images/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	/* Standard CSS3 opacity setting */
	opacity: 0.35; 
	/* Opacity for really old versions of 
	   Mozilla Firefox (0.9 or older) */
	-moz-opacity: 0.35;
	/* Opacity for Internet Explorer. */
	filter: alpha(opacity = 35);
	/* Use zoom to Trigger "hasLayout" in 
	   Internet Explorer 6 or older versions */	
	zoom: 1; 
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../images/cursors/cursor_arrow_right.cur), url(../images/cursors/cursor_arrow_right.cur),e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(../images/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and 
   height as the containing element (div). Overflow 
   is hidden because you don't want to show all of 
   the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}


#news{
    background: none repeat scroll 0 0 #DEF1DA;
    color: black;
    height: 335px;
    padding: 8px;
    position: relative;
    overflow: hidden;
    top: -20px;
}

.news_title{
    clear: both;
    color: $site-color;
    padding: 10px;
    position: relative;
    z-index: -3;
}

.desc-arrow{
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid transparent;
  float: left;
  margin-right:70px;
}


/* create an arrow that points down */
div.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    float: left;
    margin-right: 75px;
    margin-top: -20px;
    position: relative;
    z-index: 4;
}

/*HOME EVENT COMMENTS*/
.comment_pic{
  clear: left;
  height: 40px;
  border: 2px solid $site-color;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.home_pic{
  height: 215px;
}

.a_comment{
  margin: 10px, 10px, 15px;
  font-size: 14px;
  height: 45px;
  a{
    color: $site-color;
    text-decoration: none;
  }  
  input[type="button"] {
    cursor: pointer;
    background-color: lighten($site-color, 30%);
    border-radius: 15px;
    border:1px solid $home-link-yellow;
    font-size: 11px;
  }
  input[type="button"]:hover {
    background-color: darken($site-color, 5%);
    color: white;
  }    
}

.ui-dialog-titlebar
{
  background: $site-color;
  color: white;
  font-family: "contitulos";
  font-size: 20px;
}

.ui-dialog{
  font-family: "consonrisas";
  font-size: 15px;
}
