.application_messages{
    direction: ltr;
    margin-right: 320px;
    margin-left: -550px;    
    position: absolute;
  }

.notice{
  color: green;
  margin-left: 100px;
}
.alert{
  color: red;
}

#alert-msg{
    background-color: #668014;
    border-radius: 0 0 10px 10px;
    color: white;
    left: 50%;
    margin: auto;
    margin-left: -130px;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 1020;
    p{
      text-align: center;
    }
}

#left_div_top{
  background: $site-color;
  color: $main-background;
  height: 25px;
  input.home-color{
    @include search($site-color);
  }
  input.home-color:hover{
    background: lighten($site-color, 25%);
    color: darken($site-color, 20%);
  }  
  input.home-color:focus{
    background: lighten($site-color, 45%);
    color: darken($site-color, 60%);
  }
  a{
    height: 20px;
    width: 20px;
  }
  .search-triangle-button{
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .search-triangle-button:hover{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
  }  
}

input.facilitators-color{
  @include search($facilitators-color);
}
input.facilitators-color:hover{
  background: lighten($facilitators-color, 25%);
  color: darken($facilitators-color, 20%);
}  
input.facilitators-color:focus{
  background: lighten($facilitators-color, 45%);
  color: darken($facilitators-color, 40%);
}

input.providers-color{
  @include search($providers-color);
}
input.providers-color:hover{
  background: lighten($providers-color, 25%);
  color: darken($providers-color, 20%);
}  
input.providers-color:focus{
  background: lighten($providers-color, 45%);
  color: darken($providers-color, 40%);
}


input.fundations-color{
  @include search($fundations-color);
}
input.fundations-color:hover{
  background: lighten($fundations-color, 25%);
  color: darken($fundations-color, 20%);
}  
input.fundations-color:focus{
  background: lighten($fundations-color, 45%);
  color: darken($fundations-color, 40%);
}



input.events-color{
  @include search($events-color);
}
input.events-color:hover{
  background: lighten($events-color, 25%);
  color: darken($events-color, 20%);
}  
input.events-color:focus{
  background: lighten($events-color, 45%);
  color: darken($events-color, 40%);
}


input.info-color{
  @include search($site-color);
}
input.info-color:hover{
  background: lighten($site-color, 25%);
  color: darken($site-color, 20%);
}  
input.info-color:focus{
  background: lighten($site-color, 45%);
  color: darken($site-color, 40%);
}

#right_div_top{
  color: black;
  text-align:right;
  font-size: 13px;  
 a{
    color: $site-color;
    text-decoration: none;
  }
 a:hover{
    color: darken($site-color, 20%);
    text-decoration: underline;
  }
}

#login-form{
  position: absolute;
  z-index: 100;
  background: $main-background;
  padding: 10px;
  border-left: solid 3px $site-color;
  border-right: solid 3px $site-color;
  border-bottom: solid 3px $site-color;    
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;  
  right: 30px;
  text-align: left;
}

#header {
  margin-top: 15px;
  margin-bottom: 15px;
}

#logo {
  text-align: center;
  a{
    color: $main-background;
  }
}

#menu {
  padding-top: 15px;
	
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  line-height: normal;
  }
  
  li {
	  float: left;
    margin-right: 30px;
	  text-align: center;
  }
  li.last {
    margin-right: 0;
  }
  a {
	  display: inline-block;
	  float: left;
	  height: 95px;
	  width: 95px;
	  margin-right: 5px;
	  text-decoration: none;
	  font-size: small;
	  font-weight: bold;
	  color: white;

    /* W3C */
    transition-property:color,background;
    transition-duration:1s;

    /* Firefox 4 */
    -moz-transition-property:color,background;
    -moz-transition-duration:1s;

    /* Safari and Chrome */
    -webkit-transition-property:color,background;
    -webkit-transition-duration:1s;

    /* Opera */
    -o-transition-property:color,background;
    -o-transition-duration:1s;	 

  }  
  
  a.facilitators{	
    color:$facilitators-color;
    background: $facilitators-color; 
    @include bk-image(url('/images/Facilitator.png'), 17px 12px);
    
  }  
  
  a.providers{
    color:$providers-color;
    background: $providers-color;
    margin-top: -5px;
    line-height: 12;
    @include bk-image(url('/images/Proveedores.png'), 15px 15px);
  }
  a.fundations{
    color: $fundations-color;
    background: $fundations-color;
    line-height: 12;
    @include bk-image(url('/images/ProyectosSociales.png'), 20px 15px);    
  }  
  a.events{
    color: $events-color;
    background: $events-color;
    margin-top: -5px;
    line-height: 12;
    @include bk-image(url('/images/Eventos.png'), 20px 12px);    
  }
  a.info{
    color: $info-color;
    background: $info-color;
    line-height: 12;
    @include bk-image(url('/images/Info.png'), 20px 20px);
  }  
  
}
 
#menu a.facilitators:hover, .current_page_item_facilitators {
  background: $main-background;
  color: $main-background;
  @include bk-image(url('/images/FacilitadoresLetras.png'), 20px 50px);    
}

#menu a.providers:hover, .current_page_item_providers {
  background: $main-background;
  color: $main-background;
  @include bk-image(url('/images/ProveedoresLetras.png'), 15px 50px);
}

#menu a.fundations:hover, .current_page_item_fundations {
  background: $main-background;
  color: $main-background;
  @include bk-image(url('/images/ProyectosSocialesLetras.png'), 20px 50px);
}


#menu a.events:hover, .current_page_item_events {
  background: $main-background;
  color: $main-background;
  @include bk-image(url('/images/EventosLetras.png'), 20px 50px);
}

#menu a.info:hover, .current_page_item_info {
  background: $main-background;
  color: $main-background;
  @include bk-image(url('/images/InfoLetras.png'), 20px 50px);      
}

#follow-us{
  color: $site-color;
  height: 35px;
  margin-left: 0;
  img{
    vertical-align: middle;
  }  
}


#footer{
  color: $site-color;
  margin-top: 10px;
  font-size: 13px;
  background-color: $footer-color;
  height: 40px;
  line-height: 350%;
  margin-left: 0;
 a{
    color: $site-color;
    font-size: 13px;
    text-decoration: none;
  }
  a:hover{
    color: darken($site-color, 10%);
    text-decoration: underline;
  } 

}
