.legal-terms{
  margin-left:auto;
  margin-right:auto;
  width: 70%;
  .legal-title{
    color: darken($site-color, 15%);
    font-size: 125%;
    font-weight: bold;
  }
  .legal-title-mini{
    color: darken($site-color, 5%);
    font-size: 110%;
    font-weight: bold;       
  }
  p{
    text-align:justify;
  }
}
