.need_field{
  float: left;
  height: 40px;
  padding: 10px;  
  input{
    border: 1px solid $fundations-color;
    max-width: 170px;
  }
}

.need_form_actions{
  width: 60%;
  margin: 0px auto;
}
.need_button{
  margin: 0 auto;
  clear: left;	
  cursor: pointer;
  background-color: $fundations-color;
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  font-weight:bold;
  font-size: large;
  color: white;
}

.need-title{
 padding: 3px;
 color: white;
 background-color: $fundations-color;
}

/*Need list*/
.a_need{
 padding: 5px;
 min-height: 120px;
 border-width: 0 0 1px;
 border-style: dashed;
 color: $fundations-color;
 .need_name{
  color: $fundations-color;
 }
 .need_item{
  min-width: 110px;  
  height: 40px;
  overflow: hidden;
  line-height: 0;
  float: left;
  color: black;
  p{
    font-weight: bold;
  }
 }
 .need_middle{
  min-width: 100px;
  padding-right: 15px;
  padding-left: 15px;    
  margin: 0 15px 0 15px;
  height: 50px;
  border-width: 0 1px 0 1px;
  border-color: lightgray;
  border-style: solid;
  a{
    color: $fundations-color;
    text-decoration: none;
  }
  a:hover{
    color: darken($fundations-color, 30%);
  }
  
 }
 .need_actions{
   text-align: center;
  .need_action{
    margin-top: -15px;
    float: right;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;  
    .help_need img{
      height: 40px;
    }
    .delete_need{
      font-size: 35px;
      color: $fundations-color;
      text-decoration: none;
    }
    p{
        margin-top: -5px;
        color: black;
    }
  }
 }
}

.need_facilitators{
  clear: right;
  min-height: 100px;
  margin-top: 72px;
  .a_facilitator{
    float: left;
    img{
      float: left;
      margin-right: 5px;
      border: solid;
      border-color: $facilitators-color;
    }
    span{
      float: left;
      font-size: small;
      padding-right: 5px;
      padding-top: 10px;      
      .fac-name{
        font-size: medium;
        font-weight: bold;
      }
      a{
        color: $facilitators-color;
        text-decoration: none;
      }
      a:hover{
        color: $facilitators-color;
        text-decoration: underline;
      }
    }
  }
}

/*All Needs by category*/

.need-cat-title{
 padding: 3px;
 color: white;
 background-color: $fundations-color;
 width: 30%;
}

