.need_field{
  height: 40px;
  padding: 10px;  
  input{
    border: 1px solid $fundations-color;
    max-width: 170px;
  }
}

.need_form_actions{
  padding: 10px;
}
.need_button{
  cursor: pointer;
  background-color: $fundations-color;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  font-weight:bold;
  font-size: large;
  color: white;
}

.need-title{
 padding: 3px;
 color: white;
 background-color: $fundations-color;
}

/*Need list*/
.need_divider{
 border-width: 0 0 1px;
 border-style: dashed;
 border-color: $fundations-color;
}
 .need_name{
  color: $fundations-color;
  font-weight: bold;
 }
.a_need{
 padding: 5px;
 color: $fundations-color;
 .need_item{
  line-height: 0;
  color: black;
  p{
    font-weight: bold;
  }
 }
 .need_middle{   
  a{
    color: $fundations-color;
    text-decoration: none;
  }
  a:hover{
    color: darken($fundations-color, 30%);
  }
  
 }
 .need_actions{
  .need_action{  
    .help_need img{
      height: 40px;
      margin-top: 5px;
    }
    .delete_need{
      font-size: 35px;
      color: $fundations-color;
      text-decoration: none;
      line-height: 1.2;
    }
    p{
      margin-top: -5px;
      color: black;
    }
  }
 }
}

.need_facilitators{
  clear: right;
  min-height: 100px;
  margin-top: 72px;
  .a_facilitator{
    float: left;
    img{
      float: left;
      margin-right: 5px;
      border: solid;
      border-color: $facilitators-color;
    }
    span{
      float: left;
      font-size: small;
      padding-right: 5px;
      padding-top: 10px;      
      .fac-name{
        font-size: medium;
        font-weight: bold;
      }
      a{
        color: $facilitators-color;
        text-decoration: none;
      }
      a:hover{
        color: $facilitators-color;
        text-decoration: underline;
      }
    }
  }
}

/*All Needs by category*/

.need-cat-title{
 padding: 3px;
 color: white;
 background-color: $fundations-color;
 width: 30%;
}

