#left-div-profile{
  color: $main-background;
  width: $left-div-width;
  clear: left;
  margin-top: -15px;
  a{
   color: $home-link-yellow;
   text-decoration: none;
  }
  a:hover{
   color: darken($home-link-yellow, 10%);
   font-weight: bold;
  }
  .profile-info{
    @include site-gradient();
    height: 500px;
    img.transparent{
      position: absolute;
      margin-top: 5px;
      margin-left: -30px;      
    }
    img.img-profile{
      margin-top: 15px;
      margin-left: 30px;     
      max-height: 150px; 
    }
    h2{
      padding-top: 25px;
      padding-left: 35px;
    }
    .type{
      padding-left: 40px;
      margin-top: -20px;
    }
    .about-me{
      height: 300px;
      .about-me-text{
        padding: 0 25px 25px;
        font-size: 14px;
        min-height: 150px;
      }    
    }    
  }
}

.my-connections{
  @include site-gradient();
  height: 50px;
  width: $left-div-width;
  margin-top: 10px;
  padding-top: 2px; 
  .my-connections-faces{
    padding-left: 10px;
    padding-top: 4px;
    float:left;
    img{
      height: 40px;
      padding-right: 3px;
    }
  }
  .my-connections-link{
    font-weight: bold;
    direction: rtl;
    padding-right: 10px;
    a{
      font-weight: normal;
    }
  }
}

#profile-content{
  width: $main-width + 100px;
	margin-left: 320px;
	margin-top: -780px;
	min-height: 780px;
  .my-profile-title{
    @include site-gradient();
    color: $main-background;
    font-family: "contitulos";
    height: 100px;
    letter-spacing: -2px;
   h1{
      padding-left: 25px;
    }  
    img{
      position: absolute;
      margin-left: 300px;
      margin-top: 10px;
    }  
  }
  .my-profile-menu-top{
    margin-top: -55px;
    margin-left: 10px;
    position: absolute;
    color: darken($site-color, 35%);
    .my-news{

    }
    .my-personal{	
      margin-left: 100px;
    }
  }
  .my-profile-menu{
    color: $main-background;
    margin-left: 15px;
    margin-top: -36px;
    a{
    color:white;
      text-decoration:none;    
    }
    a:hover{
      font-weight: bold;
    }
    .news{
      margin-left: 5px;
    }
    .personal{
      margin-left: 20px;
    }
  }  
  .my-profile-arrows{
    clear: left;
    margin-top: 3px;
    position: absolute;
    .arrow-up-profile{
      border-left:15px solid transparent;
      border-right:15px solid transparent;
      border-bottom:15px solid $main-background;
      width: 0;
      float: left;
    }
    .arrow-invites{
      margin-left: 45px;
    }
    .arrow-msgs{
      margin-left: 130px;
    }    
    .arrow-events{
      margin-left: 210px;
    }
    .arrow-fundations{
      margin-left: 300px;
    }
    .arrow-providers{
      margin-left: 410px;
    }      
  }
}

.news{
  margin-left: auto;
  margin-right: auto;
}

.news-item{
   height: 50px;
   padding: 10px 10px 20px;
   font-size: medium;
   border-width: 0 0 1px;
   border-style: dotted;
   color: $site-color;
  span{
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
  }
  a{
    text-decoration: none;
    color: $site-color;
    font-size: 13px;
  }
  a:hover{
    font-weight: bold;
    text-decoration: underline;
  }  
  img{
    border: solid;
  }
  img.img-facilitators{
    border-color: $facilitators-color;
  }
  img.img-providers{
    border-color: $providers-color;
  }
  img.img-fundations{
    border-color: $fundations-color;
  }      
  img.img-events{
    border-color: $events-color;
  }        
  .www{
    background: $fundations-color;
    color: white;
    font-weight: bold;
  }
  
}

.textarea_dialog{
    height: 60px;
    width: 300px;
}
.input_dialog{
    width: 300px;
}

//Para volver el jquery ui dialog más oscuro
//.ui-widget-overlay
//{
//  opacity: .60 !important; /* Make sure to change both of these, as IE only sees the second one */
//  filter: Alpha(Opacity=60) !important;
//  background-color: rgb(60, 60, 60) !important; /* This will make it darker */
//}

