.create-button{
  height: 50px;
  width: $left-div-width - 4;
  margin-top: 10px;
  padding-top: 2px;
  background-repeat: no-repeat;
  display: inline-block;
  direction: rtl;
  -moz-box-shadow: 5px 5px 2px $shadow-color;
  -webkit-box-shadow: 5px 5px 2px $shadow-color;
  box-shadow: 5px 5px 2px $shadow-color;
}

.create-fundation{
  background-image: url('/images/FundacionesTransparenteMedio.png');
  background-position: -20px -20px;  
  background-color: $fundations-color;
}

.create-provider{
  background-image: url('/images/ProveedorTransparenteChiqui.png');
  background-position: 10px -5px;    
  background-color: $providers-color;
}

.create-event{
  background-image: url('/images/EventoTransparenteMedio.png');
  background-position: -20px -5px;    
  background-color: $events-color;
}
.create-button:hover{
  -moz-box-shadow: inset 0 0 5px 3px $shadow-color;
  -webkit-box-shadow: inset 0 0 5px 3px $shadow-color;
  box-shadow: inset 0 0 5px 3px $shadow-color;
}

.create-fundation-img{
  margin-top: 5px;
  margin-right: 10px;
  border: $fundations-color;
}
.create-event-img{
  margin-top: 10px;
  margin-right: 10px;
  border: $events-color;
}

.create-provider-img{
  margin-top: 10px;
  margin-right: 10px;
  border: $providers-color;
}

.desc-create-triangle{
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $site-color;
  height: 0px;
  width: 0px;
  margin-top: 50px;
  margin-right: 60px;
}

.create-buttons a span{
  display: none;
  color: white;
  font-family: "consonrisas";
  font-size: 13px;
  font-weight: normal;
}
.create-buttons a:hover span{
  display: block;
  position: absolute;
  background: $site-color;
  height: 50px;
  width: $left-div-width/2;
  margin-right: 150px;
  margin-top: -112px;
}
