@font-face {
  font-family: 'contitulos';
  src: url("/fonts/chapenettoer_8_thin_update_0-webfont.eot");
  src: url("/fonts/chapenettoer_8_thin_update_0-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/chapenettoer_8_thin_update_0-webfont.woff") format("woff"), url("/fonts/chapenettoer_8_thin_update_0-webfont.ttf") format("truetype"), url("/fonts/chapenettoer_8_thin_update_0-webfont.svg#Chapenettoer8THIN") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'consonrisas';
  src: url("/fonts/consr-regular-webfont.eot");
  src: url("/fonts/consr-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/consr-regular-webfont.woff") format("woff"), url("/fonts/consr-regular-webfont.ttf") format("truetype"), url("/fonts/consr-regular-webfont.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

#alert-msg {
  background-color: #668014;
  border-radius: 0 0 10px 10px;
  color: white;
  left: 50%;
  margin: auto;
  margin-left: -130px;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 260px;
  z-index: 1020; }
  #alert-msg p {
    text-align: center; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: "consonrisas";
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFE0E0');
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfe0e0));
  background: -moz-linear-gradient(top, white, #dfe0e0);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.landing-logo {
  text-align: center; }
  .landing-logo img {
    width: 250px; }

.landing-header {
  height: 160px;
  color: white; }
  .landing-header img {
    float: left;
    width: 150px;
    padding-right: 10px;
    padding-left: 10px; }
  .landing-header .text {
    padding-left: 25px;
    padding-top: 18px;
    font-size: 20px;
    line-height: 130%;
    font-size: 17px; }

.steps {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 30px;
  padding: 5px; }

.step {
  float: left;
  padding: 5px; }

.step2 {
  padding-left: 10px;
  border-left: 1px dashed #973b8c;
  border-right: 1px dashed #973b8c; }

.step3 {
  margin-left: 10px; }

.step-title {
  padding: 3px;
  color: white;
  background-color: #973b8c;
  width: 180px; }

.input-landing {
  padding: 3px;
  width: 180px;
  border: 1px solid #973b8c;
  max-height: 120px; }

.number-title {
  margin: 0 auto;
  border-radius: 45px;
  font-size: 75px;
  background: #973b8c;
  color: white;
  width: 90px;
  height: 90px;
  text-align: center;
  font-weight: bold; }

.next-steps-links {
  text-align: right; }

.next-step-landing {
  color: #973b8c;
  text-decoration: none; }

.next-step-landing:hover {
  color: #973b8c;
  text-decoration: underline; }

.fundation {
  background-color: #973b8c; }

.facilitator {
  background-color: red; }

.big-loader {
  position: absolute;
  left: 50%;
  margin-left: -74px;
  /* Half the width */ }

.done-container {
  padding-top: 10px; }

.done-button {
  background-color: #973B8C;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 19px;
  line-height: 2;
  margin: 0 auto; }

.landing-header-facilitator {
  height: 160px;
  color: white;
  background-color: red; }
  .landing-header-facilitator img {
    float: left;
    width: 110px;
    padding-right: 25px;
    padding-left: 10px;
    margin-top: 20px; }
  .landing-header-facilitator .text {
    padding-left: 25px;
    padding-top: 18px;
    font-size: 20px;
    line-height: 130%;
    font-size: 17px; }

.step2-facilitators {
  padding-left: 10px;
  border-left: 1px dashed red;
  border-right: 1px dashed red; }

.step-title-facilitators {
  padding: 3px;
  color: white;
  background-color: red;
  width: 180px; }

.step-title-facilitators-wide {
  padding: 3px;
  color: white;
  background-color: red;
  width: 100%; }

.input-landing-facilitators {
  padding: 3px;
  width: 180px;
  border: 1px solid red;
  max-height: 120px; }

.number-title-facilitators {
  margin: 0 auto;
  border-radius: 45px;
  font-size: 75px;
  background: red;
  color: white;
  width: 90px;
  height: 90px;
  text-align: center;
  font-weight: bold; }

.next-step-landing-facilitators {
  color: red;
  text-decoration: none; }

.next-step-landing-facilitators:hover {
  color: red;
  text-decoration: underline; }

.done-container-facilitators {
  position: fixed;
  top: 60px;
  right: 110px; }

.done-button-facilitators {
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 19px;
  line-height: 2;
  margin: 0 auto; }

.landing-header-provider {
  height: 160px;
  color: white;
  background-color: #e3bb00; }
  .landing-header-provider img {
    float: left;
    width: 110px;
    padding-right: 25px;
    padding-left: 10px;
    margin-top: 20px; }
  .landing-header-provider .text {
    padding-left: 25px;
    padding-top: 18px;
    font-size: 20px;
    line-height: 130%;
    font-size: 17px; }

.step2-providers {
  padding-left: 10px;
  border-left: 1px dashed #e3bb00;
  border-right: 1px dashed #e3bb00; }

.step-title-providers {
  padding: 3px;
  color: white;
  background-color: #e3bb00;
  width: 180px; }

.step-title-providers-wide {
  padding: 3px;
  color: white;
  background-color: #e3bb00;
  width: 100%; }

.step3-providers {
  max-width: 533px; }

.input-landing-providers {
  padding: 3px;
  width: 180px;
  border: 1px solid #e3bb00;
  max-height: 120px; }

.number-title-providers {
  margin: 0 auto;
  border-radius: 45px;
  font-size: 75px;
  background: #e3bb00;
  color: white;
  width: 90px;
  height: 90px;
  text-align: center;
  font-weight: bold; }

.next-step-landing-providers {
  color: #e3bb00;
  text-decoration: none; }

.next-step-landing-providers:hover {
  color: #e3bb00;
  text-decoration: underline; }

.done-container-providers {
  position: fixed;
  top: 60px;
  right: 110px; }

.done-button-providers {
  background-color: #e3bb00;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 19px;
  line-height: 2;
  margin: 0 auto; }

.need_field {
  float: left;
  height: 40px;
  padding: 10px; }
  .need_field input {
    border: 1px solid #973b8c;
    max-width: 170px; }

.need_form_actions {
  width: 60%;
  margin: 0px auto; }

.need_button {
  margin: 0 auto;
  clear: left;
  cursor: pointer;
  background-color: #973b8c;
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
  font-size: large;
  color: white; }

.need-title {
  padding: 3px;
  color: white;
  background-color: #973b8c; }

/*Need list*/
.a_need {
  padding: 5px;
  min-height: 120px;
  border-width: 0 0 1px;
  border-style: dashed;
  color: #973b8c; }
  .a_need .need_name {
    color: #973b8c; }
  .a_need .need_item {
    min-width: 110px;
    height: 40px;
    overflow: hidden;
    line-height: 0;
    float: left;
    color: black; }
    .a_need .need_item p {
      font-weight: bold; }
  .a_need .need_middle {
    min-width: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 15px 0 15px;
    height: 50px;
    border-width: 0 1px 0 1px;
    border-color: lightgray;
    border-style: solid; }
    .a_need .need_middle a {
      color: #973b8c;
      text-decoration: none; }
    .a_need .need_middle a:hover {
      color: #291026; }
  .a_need .need_actions {
    text-align: center; }
    .a_need .need_actions .need_action {
      margin-top: -15px;
      float: right;
      height: 60px;
      padding-right: 15px;
      padding-left: 15px; }
      .a_need .need_actions .need_action .help_need img {
        height: 40px; }
      .a_need .need_actions .need_action .delete_need {
        font-size: 35px;
        color: #973b8c;
        text-decoration: none; }
      .a_need .need_actions .need_action p {
        margin-top: -5px;
        color: black; }

.need_facilitators {
  clear: right;
  min-height: 100px;
  margin-top: 72px; }
  .need_facilitators .a_facilitator {
    float: left; }
    .need_facilitators .a_facilitator img {
      float: left;
      margin-right: 5px;
      border: solid;
      border-color: red; }
    .need_facilitators .a_facilitator span {
      float: left;
      font-size: small;
      padding-right: 5px;
      padding-top: 10px; }
      .need_facilitators .a_facilitator span .fac-name {
        font-size: medium;
        font-weight: bold; }
      .need_facilitators .a_facilitator span a {
        color: red;
        text-decoration: none; }
      .need_facilitators .a_facilitator span a:hover {
        color: red;
        text-decoration: underline; }

/*All Needs by category*/
.need-cat-title {
  padding: 3px;
  color: white;
  background-color: #973b8c;
  width: 30%; }

#left-div-lists {
  color: white;
  width: 300px;
  float: left;
  margin-top: 20px; }
  #left-div-lists a {
    text-decoration: none; }
  #left-div-lists a:hover {
    color: #e6e6e6;
    text-decoration: underline; }
  #left-div-lists .vip {
    height: 732px; }
    #left-div-lists .vip img.transparent {
      position: absolute;
      margin-top: 5px;
      margin-left: -30px; }
    #left-div-lists .vip img.news-img {
      margin-top: 15px;
      margin-left: 30px; }
    #left-div-lists .vip h2 {
      padding-top: 25px;
      padding-left: 35px; }
    #left-div-lists .vip .type {
      padding-left: 40px;
      margin-top: -20px; }
    #left-div-lists .vip .text {
      height: 300px; }
      #left-div-lists .vip .text .news-title {
        font-weight: bold;
        padding-left: 25px; }
      #left-div-lists .vip .text .news-fecha {
        padding-left: 25px; }
      #left-div-lists .vip .text .news {
        padding: 0 25px 25px;
        font-size: 14px;
        min-height: 150px; }
      #left-div-lists .vip .text .news-link {
        direction: rtl;
        margin-right: 5px;
        margin-top: -40px; }
      #left-div-lists .vip .text a.news-more {
        padding-left: 18  0px;
        margin-bottom: -100px;
        text-decoration: none;
        color: white; }
      #left-div-lists .vip .text a.news-more:hover {
        text-decoration: underline; }
  #left-div-lists .vip-facilitators {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#B70000');
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(#b70000));
    background: -moz-linear-gradient(top, red, #b70000); }
  #left-div-lists .vip-providers {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD200', endColorstr='#C9AD30');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd200), to(#c9ad30));
    background: -moz-linear-gradient(top, #ffd200, #c9ad30); }
  #left-div-lists .vip-fundations {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BA43AA', endColorstr='#8C3681');
    background: -webkit-gradient(linear, left top, left bottom, from(#ba43aa), to(#8c3681));
    background: -moz-linear-gradient(top, #ba43aa, #8c3681); }
  #left-div-lists .vip-events {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C3FF', endColorstr='#008CFF');
    background: -webkit-gradient(linear, left top, left bottom, from(#00c3ff), to(#008cff));
    background: -moz-linear-gradient(top, #00c3ff, #008cff); }

#list-content {
  width: 600px;
  margin-left: 320px; }

/*lists as divs*/
.list-facilitators {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#B70000');
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#b70000));
  background: -moz-linear-gradient(top, red, #b70000); }

.list-providers {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD200', endColorstr='#C9AD30');
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd200), to(#c9ad30));
  background: -moz-linear-gradient(top, #ffd200, #c9ad30); }

.list-fundations {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BA43AA', endColorstr='#8C3681');
  background: -webkit-gradient(linear, left top, left bottom, from(#ba43aa), to(#8c3681));
  background: -moz-linear-gradient(top, #ba43aa, #8c3681); }

.list-events {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C3FF', endColorstr='#008CFF');
  background: -webkit-gradient(linear, left top, left bottom, from(#00c3ff), to(#008cff));
  background: -moz-linear-gradient(top, #00c3ff, #008cff); }

.list-title {
  color: white;
  font-family: "contitulos";
  height: 100px;
  letter-spacing: -2px; }
  .list-title h1 {
    padding-left: 15px;
    padding-top: 25px; }
  .list-title img {
    position: absolute;
    margin-left: 150px; }

.list-arrow {
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  height: 0;
  margin-left: 25px;
  width: 0; }

.list-arrow-facilitators {
  border-top: 17px solid #b70000; }

.list-arrow-providers {
  border-top: 17px solid #c9ad30; }

.list-arrow-fundations {
  border-top: 17px solid #8c3681; }

.list-arrow-events {
  border-top: 17px solid #008cff; }

.all-items {
  margin-left: auto;
  margin-right: auto; }

.loading {
  display: inline-block; }
  .loading img {
    color: white;
    border: 0; }

.one-item {
  padding: 10px 10px 10px;
  font-size: medium;
  border-width: 0 0 1px;
  border-style: dotted;
  color: #5ab446;
  min-height: 52px; }
  .one-item span {
    margin-top: 8px; }
  .one-item a {
    text-decoration: none;
    color: #5ab446;
    font-size: 13px; }
  .one-item a:hover {
    color: #3e7d31;
    text-decoration: underline; }
  .one-item img {
    border: solid;
    float: left;
    margin-right: 5px; }
  .one-item img.img-facilitators {
    border-color: red; }
  .one-item img.img-providers {
    border-color: #e3bb00; }
  .one-item img.img-fundations {
    border-color: #973b8c; }
  .one-item img.img-events {
    border-color: #00bcfa; }
  .one-item .www {
    background: #973b8c;
    color: white;
    font-weight: bold; }
  .one-item .msg-date {
    color: black;
    display: inline;
    font-weight: normal;
    font-size: 11px; }
  .one-item .invite-news {
    color: black;
    min-height: 30px; }
    .one-item .invite-news p {
      margin-top: -2px;
      margin-left: 5px;
      width: 550px;
      word-wrap: break-word;
      font-size: small; }

.one-item-populations {
  color: black;
  font-weight: bold;
  font-size: 13px;
  border-style: solid;
  border-width: 0 0 5px;
  display: inline;
  left: 86%;
  position: relative;
  padding-bottom: 8px; }

.one-item-facilitators {
  border-color: red; }

.one-item-providers {
  border-color: #e3bb00; }

.one-item-fundations {
  border-color: #973b8c; }

.one-item-events {
  border-color: #00bcfa; }

.one-item-name a {
  color: #5ab446;
  font-size: 18px;
  font-weight: bold; }

.one-item-date {
  color: #5ab446;
  font-size: 15px;
  display: inline;
  font-weight: normal; }

.pagination {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: xlarge; }
  .pagination a {
    color: white;
    text-decoration: none;
    font-weight: normal; }
  .pagination a:hover {
    color: #e6e6e6;
    text-decoration: underline; }

.pagination-facilitators {
  margin-top: 10px;
  background: #b70000; }

.pagination-providers {
  margin-top: 10px;
  background: #c9ad30; }

.pagination-fundations {
  margin-top: 10px;
  background: #8c3681; }

.pagination-events {
  margin-top: 10px;
  background: #008cff; }
