/*
Syntax error: Undefined variable: "$main-background".
        on line 2 of /home/carlos/Projects/consonrisas/public/stylesheets/sass/profile-provider.scss

1: #left-div-profile-provider{
2:   color: $main-background;
3:   a{
4:    color: $home-link-yellow;
5:    text-decoration: none;
6:   }
7:   a:hover{

Backtrace:
/home/carlos/Projects/consonrisas/public/stylesheets/sass/profile-provider.scss:2
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/script/variable.rb:50:in `_perform'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/script/node.rb:40:in `perform'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:235:in `visit_rule'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:32:in `block in call'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.0.19/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:12:in `cache'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:31:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.0.19/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/usr/local/lib/ruby/gems/1.9.1/gems/activesupport-3.0.19/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/sendfile.rb:106:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.0.19/lib/rails/rack/logger.rb:13:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/runtime.rb:17:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activesupport-3.0.19/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/lock.rb:13:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.0.19/lib/action_dispatch/middleware/static.rb:30:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.0.19/lib/rails/application.rb:168:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.0.19/lib/rails/application.rb:77:in `method_missing'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.0.19/lib/rails/rack/log_tailer.rb:14:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/content_length.rb:13:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.2.7/lib/rack/handler/webrick.rb:52:in `service'
/usr/local/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/usr/local/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/usr/local/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$main-background\".\A         on line 2 of /home/carlos/Projects/consonrisas/public/stylesheets/sass/profile-provider.scss\A \A 1: #left-div-profile-provider{\A 2:   color: $main-background;\A 3:   a{\A 4:    color: $home-link-yellow;\A 5:    text-decoration: none;\A 6:   }\A 7:   a:hover{"; }
