.social-title {
  text-align: center; }

.social-p {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.social-containter {
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  column-count: 2;
  margin-left: 100px; }
  .social-containter .social-cs {
    display: block;
    margin-bottom: 30px; }
