<p>
  <b>Email:</b>
  <%= @facilitator.member.email %>
</p>
<p>
  <b><%= I18n.t("profile.population_of_interest") %>:</b>
  <br/>
    <% 
      pops = ""
      for population in @facilitator.populations do 
        if I18n.locale.to_s == "en" 
          pops += population.name_en + ", " unless population.name_en.nil? 
        else
          pops += population.name_es + ", " unless population.name_es.nil?
        end
      end 
      pops = pops.strip
      pops = pops[0, pops.size-1] if pops[pops.size-1] == ","
    %>
    <%= pops %>
</p>
