<h1><%= I18n.t('facilitator.list') %></h1>

<table>
  <tr>
    <th></th>
    <th><%=I18n.t('name')%></th>
    <th></th>
  </tr>

<% @facilitators.each do |facilitator| %>
  <tr>
    <td> <% # image_tag facilitator.pic.url(:thumb) %></td>    
    <td><%= facilitator.name %></td>
    <td><%= link_to I18n.t('go_to_profile'), member_path(facilitator.member) %></td>
  </tr>
<% end %>
</table>

<br />
