.create-buttons-shared
  .create-event-div
    %a{:class => "create-event create-button #{'register_wizzard' unless member_signed_in?}", :href=>"/events/new", :create=>"event", :style=>"width:100%;"}      
      = image_tag("CrearEventosBoton.png", :class=>"create-event-img")

