.create-buttons-shared
  .create-provider-div
    %a{:class => "create-provider create-button #{'register_wizzard' unless member_signed_in?}", :href=>"/providers/new", :create=>"provider", :style=>"width:100%; height:100%"}
      = image_tag("CrearProveedorBoton.png", :class=>"create-provider-img")
