.on-media
  .row
    .span4
      .media-text
        En los medios:
  .row
    .span4{:style=>"text-align: center"}
      %a{:href=>"https://www.youtube.com/watch?v=ICvnXJYRVZo", :target=>"_blank"}
        = image_tag "http://www.ligasonrisas.org/uploads/8/6/4/5/8645542/2026425.png"
    .span4{:style=>"text-align: center"}
      %a{:href=>"http://www.eltiempo.com/gente/red-social-colombiana-conectando-sonrisas_12658324-4", :target=>"_blank"}
        = image_tag "eltiempo.png"
    .span4{:style=>"text-align: center"}
      %a{:href=>"http://www.canalrcnmsn.com/content/red_social_conectando_sonrisas", :target=>"_blank"}
        = image_tag "rcn.png"