#makeMeScrollable
  .scrollingHotSpotLeft
  .scrollingHotSpotLeftVisible
  .scrollingHotSpotRight
  .scrollingHotSpotRightVisible
  .scrollWrapper
    .scrollableArea
      - @photos.each do |p|
        = image_tag(p.photo.url(:med), :class=>"home_pic")
