<div id="feedbacks">
  <a href="#" class="show_feedback">Feedback</a>
  <div id="feedback" style="display:none">
        Envíanos un mensaje:<br/>
        <textarea id="feedback_message" rows="5" cols="25"></textarea>
        <br/>
        <a href= "#" class="send_feedback">Enviar</a>
        <div id="feedback_thx" style="display:none">Gracias por la retroalimentación! Lo tendremos en cuenta.</div>
  </div>
</div>
