<div class="feedbacks">
    <a href="#" class="show_feedback">Feedback</a>
    <a href="#" class="send_feedback" style="display:none">Enviar</a>
  <div id="feedback" class="bordered_box" style="display:none">
    Mensaje:
    <br/>
    <textarea id="feedback_message" rows="5" cols="25"></textarea>
  </div>
</div>

