%h2.social-title Estos son los aliados de este proyecto
%p.social-p Conectando Sonrisas está profundamente agradecido con todas las personas que han apoyado de una u otra manera este proyecto, a todas ellas los más sinceros agradecimientos. !Los queremos mucho!
.allies
  = link_to image_tag("LigaDeLasSonrisasLogoTrans.png"), "http://lassonrisas.weebly.com/", :target=>"_blank", :title=>"Visita la Liga de las Sonrisas"
  %p Conectando Sonrisas es un proyecto de la Fundación La Liga de las Sonrisas
.allies
  = link_to image_tag("dynaco.png"), "http://www.dynaco.co", :target=>"_blank", :title=>"Visita Dynaco"
  %p Dynaco ha aportado sus recursos y conocimiento para lograr la creación de este portal
.allies
  = link_to image_tag("s4n.png"), "http://www.seven4n.com", :target=>"_blank", :title=>"Visita Seven4N"
  %p Seven4n ha colaborado con ideas de negocio y con un product manager para este portal
.allies
  = link_to image_tag("Pato.png"), "http://www.patoalanaranja.com/", :target=>"_blank", :title=>"Visita Pato ala Naranja"
  %p Pato ala Naranja es el responsable del diseño gráfico de la página
