.contact-info
  .contact-title
    Contáctanos
  %p
    En cualquier momento nos puedes contactar para resolver dudas, inquietudes, sugerencias, felicitaciones, o cualquier otra cosa.
    Nuestro mail de contacto es 
    %a{:href=>"mailto:info@conectandosonrisas.org?Subject=Contacto Home"}info@conectandosonrisas.org 
