%h2.social-title Existen varias formas en las cuales puedes apoyar a Conectando Sonrisas
%p.social-p 
  Mira nuestra
  %a{:href=>"store"}
  gracias a monomi
.donations
  .donate.box
    .donate-item
      = link_to image_tag("/pics/profile/missing.png", :title=>"Ve a nuestra tienda virtual", :height=>"75px"), "http://conectando-sonrisas.monomi.co/", :target=>"_blank"
      %p 
        Visita nuestra
        = link_to "tienda virtual", "http://conectando-sonrisas.monomi.co/", :target=>"_blank"
    .donate-item
      = link_to image_tag("http://monomi.co/static/landing/img/logo.png", :title=>"visita monomi para crear tu propia tienda en internet"), "http://monomi.co", :target=>"_blank"
      %p Visita monomi para crear tu propia tienda  
.donations
  .donate-item2
    = link_to image_tag("LigaDeLasSonrisasLogoTrans.png", :width=>"160px"), "http://ligasonrisas.org/donaciones.html", :target=>"_blank", :title=>"Dona a La Liga de las Sonrisas"
    %p Si quieres apoyar a la Fundación la Liga de las Sonrisas, que es una Entidad sin ánimo de lucro que administra este portal, lo puedes hacer por medio de transferencia o consignación en la cuenta de ahorros Bancolombia 60175063890
%a{:name=>"store"}
%iframe{:src=>"http://conectando-sonrisas.monomi.co/", :style=>"width:1000px;height:980px;margin-left:-25px;" }
        

