<div class="many-services">
	<div class="row">
		<div style="max-width:700px; margin-left:auto; margin-right:auto; text-align:center;">
			<h1>Experiencias que generan sonrisas</h1>
			<p>
				Con las ganas de hacer y apoyar eventos sociales que generan sonrisas, ofrecemos los siguientes servicios
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h2>
				Días de Sonrisas
			</h2>
			<p>
				Un día donde compartiremos de una manera activa y sana con la población de un proyecto social, en varias actividades llenas de sonrisas.

				Vamos a compartir un día con personas en una situación diferente a la nuestra, dándoles cariño, afecto y muchas sonrisas.

				Se compartirá con las personas de una fundación durante medio día, se les brindará un refrigerio y un pequeño espectáculo de magia y malabares.

				Lo haremos con una fundación escogida por ustedes, puede ser una que ya conozcas , o puede ser una de nuestra comunidad de proyectos sociales.
			</p>
			<p>
				Si estás interesado en este servicio porfavor contáctanos para empezar a generar sonrisas :)  <a href="mailto:info@consonrisas.org&subject=Servicios">info@consonrisas.org</a>
			</p>
		</div>
		<div class="span6">
			<img src="http://s3.amazonaws.com/conectandosonrisas/events/photos/photos/1927/big/2013-01-26_10-25-29_935.jpg?1359259459" style="padding:10px;">
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span6">
			<img src="http://s3.amazonaws.com/conectandosonrisas/events/photos/photos/2113/big/DSC_2845.JPG?1362707815" style="padding:10px;">
		</div>			
		<div class="span6">
			<h2>
				Espectáculos
			</h2>
			<p>
				Espectáculos llenos de magia, alegría y momentos fantásticos para tu empresa y poblaciones vulnerables.

				Los asistentes al espectáculo tendrán un espacio mágico para ver y sentir cosas increíbles.  Estos espectáculos son perfectos para; ocaciones especiales, fines de años, días del niño, para celebrar metas alcanzadas, para kick-offs, etc.

				Estamos comprometidos con llevar entretenimiento a todos los rincones del país, y te invitamos a ayudarnos a lograrlo.  ¿Cómo?  Todos los espectáculos pueden ser:
				<ul>
					<li>
						Compartido: Mitad del auditorio con miembros de empresa, y la otra mitad con proyectos sociales.
					</li>
					<li>
						Donado: Para que sea disfrutado exclusivamente por los proyectos sociales. (pueden ser las fundaciones vinculadas a la empresa). 
					</li>
					<li>
						Aportado: Incremento de 10% en la inversión lo cual será destinado a realizar un espectáculo de igual calidad para uno o varios proyectos sociales.
					</li>
				</ul>
			</p>
			<p>
				Si estás interesado en este servicio porfavor contáctanos para empezar a generar sonrisas :)  <a href="mailto:info@consonrisas.org&subject=Servicios">info@consonrisas.org</a>
			</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span6">
			<h2>
				Agradecimientos Con Sonrisas
			</h2>
			<p>
				Sabemos lo importante que es agradecer a esas personas o empresas que nos dan la oportunidad de hacer nuestro trabajo. Es por esto que hemos generado una nueva forma de hacerlo.  Es la oportunidad de agradecer con sonrisas ;).

				Agradezca de una manera diferente  a sus clientes por medio de un producto que genera sonrisas en su cliente y en un proyecto social.

				Realizaremos un espectáculo para las personas de tu empresa y para un proyecto social (puede ser alguna fundación que ya esté vinculada con la empresa)

				Para el cliente de tu empresa, que recibe su agradecimiento, recibirá:
				<ul>
					<li>
						Una visita de entrega con sonrisas (opcional)
					</li>
					<li>
						Un pequeño happening con un truco de magia, o de globoflexia (opcional)
					</li>
					<li>
						Video de evidencia de sonrisas en un proyecto social con agradecimiento personalizado para ellos (<a href="http://www.ligasonrisas.org/elibom-catalinamartinez.html" target="_blank">este es un video </a>realizado de un agradecimiento realizado para la empresa Elibom que agradece a un empleado del Banco de Occidente)
					</li>
				</ul>
			</p>
			<p>
				Si estás interesado en este servicio porfavor contáctanos para empezar a generar sonrisas :)  <a href="mailto:info@consonrisas.org&subject=Servicios">info@consonrisas.org</a>
			</p>
		</div>
		<div class="span6">
			<img src="http://s3.amazonaws.com/conectandosonrisas/events/photos/photos/2148/big/DSC_3112.JPG?1362708041" style="padding:10px;">
		</div>
	</div>
</div>