<h2 class="social-title"> Conéctate en más sitios </h2>
<p class="social-p">Te invitamos a utilizar tu conocimiento en las redes sociales, así entre todos potencializamos la búsqueda de facilitadores y de proveedores de entretenimiento para lograr llevar a cabo más y mejores eventos para los proyectos sociales colombianos</p>
<div class="social-containter">
<div class="box">
  <div id="facebook_div" class="social-cs">
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="https://www.facebook.com/pages/Conectando-Sonrisas/207633962587548" width="292" show_faces="true" border_color="green" stream="true" header="false"></fb:like-box>
    </div>
<div id="twitter_msgs" class="social-cs">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 4000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#1ea83e',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#6bb04d'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().setUser('consonrisas').start();
</script>
</div>
</div>
<div class="box">
  <div id="vimeo_div" class="social-cs">
<!-- START Vimeo Badge ... info at http://vimeo.com/widget -->
<style type="text/css">
<!-- 
/* You can modify these CSS styles */
.vimeoBadge { margin: 0; padding: 0; font: normal 11px verdana,sans-serif; }
.vimeoBadge img { border: 0; }
.vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
.vimeoBadge a:hover { color:#00CCFF; }
.vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
.vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
.vimeoBadge .clip { padding:0; float:left; margin:0 10px 10px 0; width:100px; line-height:0; }
.vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width:100px; height: 30px; }
.vimeoBadge .clear { display: block; clear: both; visibility: hidden; } 
-->
</style>
<div class="vimeoBadge">
			<script type="text/javascript" src="http://vimeo.com/consonrisas/badgeo/?stream=uploaded&amp;stream_id=&amp;count=9&amp;thumbnail_width=100&amp;show_titles=yes"></script>
	</div>
<!-- END Vimeo Badge -->
</div>
<div id="slidesharediv" class="social-cs">
<div style="width:340px" id="__ss_9072330"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/consonrisas/conectando-sonrisas-intro" title="Conectando Sonrisas - Intro" target="_blank">Conectando Sonrisas - Intro</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9072330?rel=0" width="340" height="284" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> Ver más <a href="http://www.slideshare.net/" target="_blank">presentaciones</a> de <a href="http://www.slideshare.net/consonrisas" target="_blank">Conectando Sonrisas</a> </div> </div>
</div>
</div>
</div>
