<div class="row">
<div class="span6" style="text-align:center;">

<iframe src="http://www.slideshare.net/slideshow/embed_code/30549994" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/consonrisas/resultados2013-conectandosonrisas" title="Resultados 2013: Conectando Sonrisas" target="_blank">Resultados 2013: Conectando Sonrisas</a> </strong> from <strong><a href="http://www.slideshare.net/consonrisas" target="_blank">La liga de las Sonrisas</a></strong> </div>

</div>
</div>

