<div class="row">
<div class="span6" style="text-align:center;">

<iframe src="//www.slideshare.net/slideshow/embed_code/key/hv6qKP5TZ4cxGH" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/consonrisas/resultados-2015-y-metas-para-el-2016-56541095" title="Resultados 2015 y metas para el 2016" target="_blank">Resultados 2015 y metas para el 2016</a> </strong> from <strong><a href="//www.slideshare.net/consonrisas" target="_blank">La liga de las Sonrisas</a></strong> </div>

</div>
</div>
