<div class="row">
<div class="span6" style="text-align:center;">

<iframe src="//www.slideshare.net/slideshow/embed_code/key/L1xHbQHUt64lDU" width="668" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/consonrisas/logros-del-2015-de-conectando-sonrisas" title="Logros del 2015 de Conectando Sonrisas" target="_blank">Logros del 2015 de Conectando Sonrisas</a> </strong> from <strong><a href="//www.slideshare.net/consonrisas" target="_blank">La liga de las Sonrisas</a></strong> </div>
</div>
</div>
