<div class="row">
<div class="span6" style="text-align:center;">
<iframe src="http://www.slideshare.net/slideshow/embed_code/15905421" width="512" height="421" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/consonrisas/resultados-2012-la-liga-de-las-sonrisas-y-conectando-sonrisas" title="Resultados 2012: La Liga de las Sonrisas y Conectando Sonrisas" target="_blank">Resultados 2012: La Liga de las Sonrisas y Conectando Sonrisas</a> </strong> from <strong><a href="http://www.slideshare.net/consonrisas" target="_blank">Conectando Sonrisas</a></strong> </div>
</div>
</div>

