.photo_gallery
  - unless @event.photos.empty?
    - @event.photos.each do |p|
      - if p.id
        %a{:href => p.photo.url(:big), :rel => "prettyPhoto[gallery1]"}
          = image_tag(p.photo.url(:thumb))
  - unless @event.videos.empty?
    - @event.videos.each do |v|
      %a{:href => v.url, :rel => "prettyPhoto[gallery1]"}
        = image_tag("/images/play_icon.png")        
