<html>
<head>
  <link href="www.conectandosonrisas.org/stylesheets/application.css?1292430943" media="screen" rel="stylesheet" type="text/css" />
  <link href="www.conectandosonrisas.org/stylesheets/scaffold.css?1292099973" media="screen" rel="stylesheet" type="text/css" 
  <link  href="//fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" >
  <link  href="//fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular" rel="stylesheet" type="text/css" >  
</head>
<body class="application_body">
<div class="application_header">
    <p class="home_logo">
        <a href="/" class="logo" title="<%= I18n.t('application.menu_home') %>">Conectando Sonrisas</a>
    </p>
</div>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</body>
</html>
