!!!
%html
  %head
    %title ..::Conectando Sonrisas::..  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %a{:href=>"www.conectandosonrisas.org"}
      %img{:src => "www.conectandosonrisas.org/images/conectando_sonrisas.png",:height=>"125px"}
    %p
      %b
        =I18n.t('events.mail_comment_made_subject')
    %p
      #{@comment_by}
      #{@msg}
    %p
      #{@comment}
    %p
      Visita el evento 
      = link_to @event.name, event_url(@event),:title=>I18n.t('events.show')
      para enterarte de los detalles!
