%p
  %b
    =I18n.t('events.mail_comment_made_subject')
%p
  #{@comment_by}
  #{@msg}
%p
  #{@comment}
%p
  Visita el evento 
  = link_to @event.name, event_url(@event),:title=>I18n.t('events.show')
  para enterarte de los detalles!
