%html
  %head
    %title ..::Conectando Sonrisas::..  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %img{:src => "www.conectandosonrisas.org/images/conectando_sonrisas.png",:height=>"92px", :width=>"460px"}
    %h1 
      #{@message}
    %p
      Visita el evento
      = link_to @event.name, event_url(@event),:title=>I18n.t('events.show')
      para enterarte de los detalles!
